.customer-view {
  color: white;

  .subscription-status {
    width: 100%;
    text-align: right;
    font-weight: 300;
    font-size: 12px;

    .active {
      padding-right: 12px;
      background-color: green;
    }

    .inactive {
      padding-right: 12px;
      background-color: red;
    }
    
  }

  .header {
    padding: 12px;
    background-color: rgb(11, 36, 40);
  }
  
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 12px;
  }
}

.row {
  margin: 0px;
  padding: 8px;
  color: black;

  &:nth-of-type(odd) {
      background-color: #F9F9FB;
    }

  &:nth-of-type(even) {
    background-color: white;
  }
}  