.header {
  background-color: #E7F6E9;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;

    p {
    font-family: "Barlow,Verdana,sans-serif";
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 0px;
  }
}

  .tabs {
    background-color: #6E6E70;
  }
  .tabs__tab {
    border: none;
    background-color: transparent;
    color: white;
    margin: 8px;
  }
